@page
@model WebApplication1.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Details</h1>

<h4>Student</h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Student.StudentID" />
    <div class="row col-12">
        <div class="col-4">
            @{
                if (Model.Student.Picture != null)
                {
                    var base64 = Convert.ToBase64String(Model.Student.Picture);
                    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@imgsrc" style="display: block; margin: auto;" />
                }
            }
        </div>
        <div class="col-8">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Student.FirstName" class="control-label"></label>
                    <input asp-for="Student.FirstName" readonly class="form-control" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="Student.LastName" class="control-label"></label>
                    <input asp-for="Student.LastName" readonly class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-4">
                    <label asp-for="Student.DateOfBirth" class="control-label"></label>
                    <input asp-for="Student.DateOfBirth" readonly class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="Student.PublicSchoolLevel" class="control-label"></label>
                    <input asp-for="Student.PublicSchoolLevel" readonly class="form-control" />
                </div>
                <div class="form-group col-4">
                    <label asp-for="Student.Phone" class="control-label"></label>
                    <input asp-for="Student.Phone" readonly class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Student.GuardianName" class="control-label"></label>
                    <input asp-for="Student.GuardianName" readonly class="form-control" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="Student.GuardianType" class="control-label"></label>
                    <input asp-for="Student.GuardianType" readonly class="form-control" />
                </div>
            </div>
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-4">
            <label asp-for="Student.PublicSchoolLevel" class="control-label"></label>
            <input asp-for="Student.PublicSchoolLevel" class="form-control" />
            <span asp-validation-for="Student.PublicSchoolLevel" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Student.EnglishLevel" class="control-label"></label>
            <input asp-for="Student.EnglishLevel" class="form-control" />
            <span asp-validation-for="Student.EnglishLevel" class="text-danger"></span>
        </div>
        <div class="form-group col-4">
            <label asp-for="Student.ITLevel" class="control-label"></label>
            <input asp-for="Student.ITLevel" class="form-control" />
            <span asp-validation-for="Student.ITLevel" class="text-danger"></span>
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-5">
            <label asp-for="Student.Address" class="control-label"></label>
            <input asp-for="Student.Address" readonly class="form-control" />
        </div>
        <div class="form-group col-4">
            <label asp-for="Student.Village" class="control-label"></label>
            <input asp-for="Student.Village" readonly class="form-control" />
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-4">
            <label asp-for="Student.GPSLatitude" class="control-label"></label>
            <input asp-for="Student.GPSLatitude" readonly class="form-control" />
        </div>
        <div class="form-group col-4">
            <label asp-for="Student.GPSLongitude" class="control-label"></label>
            <input asp-for="Student.GPSLongitude" readonly class="form-control" />
        </div>
    </div>
    <div class="row col-12">
        <div class="form-group col-5">
            <label asp-for="Student.Picture" class="control-label"></label>
            <div>
                <input type="file" id="couponimage" disabled name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group col-3">
            <label asp-for="Student.StudentStatusID" class="control-label"></label>
            <select asp-for="Student.StudentStatusID" disabled class="form-control" asp-items="ViewBag.StudentStatusID"></select>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Student.StudentID">Edit</a> |
    <a class="btn btn-warning" asp-page="/Notes/Index" asp-route-id="@Model.Student.StudentID">View Notes</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
