@page
@model WebApplication1.Pages.AdminTools.PrintSchedulesModel
@{
    ViewData["Title"] = "PrintSchedules";
}

@foreach (var s in Model.StudentSchedules)
{
    <h1>@s.Student.FirstName @s.Student.LastName</h1>

    <table class="table table-bordered" style="table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th style="width:9%;" scope="col">Time</th>
                <th style="width:18%;" scope="col">Monday</th>
                <th style="width:18%;" scope="col">Tuesday</th>
                <th style="width:18%;" scope="col">Wednesday</th>
                <th style="width:18%;" scope="col">Thursday</th>
                <th style="width:18%;" scope="col">Friday</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 7; i < 17; i++)
                {
                    <tr>
                        <th rowspan="2" scope="row">@i:00</th>
                        <td id="1_@i"></td>
                        <td id="2_@i"></td>
                        <td id="3_@i"></td>
                        <td id="4_@i"></td>
                        <td id="5_@i"></td>

                    </tr>
                    <tr>
                        <td id="1_2_@i"></td>
                        <td id="2_2_@i"></td>
                        <td id="3_2_@i"></td>
                        <td id="4_2_@i"></td>
                        <td id="5_2_@i"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <footer style="page-break-after: always;"></footer>
}