@page
@model WebApplication1.Pages.AdminTools.PrintSchedulesModel
@{
    ViewData["Title"] = "PrintSchedules";
}

<form method="post">
    <div class="form-group">
        <h4>Select Term</h4>
        <select asp-for="Term.TermID" name="termid" class="form-control" asp-items="ViewBag.TermID"></select>
    </div>
    <div class="row">
        <input type="submit" value="Get Schedules" class="btn btn-primary ml-3 mr-2" /> 
        <button class="btn btn-success ml-2" onclick="PrintSchedule()">Print Schedules</button>
    </div>    
</form>

<br />

@foreach (var s in Model.StudentSchedules)
{
    <h2>@s.Student.FirstName @s.Student.LastName</h2>

    <table class="table table-bordered" style="table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th style="width:9%;" scope="col">Time</th>
                <th style="width:18%;" scope="col">Monday</th>
                <th style="width:18%;" scope="col">Tuesday</th>
                <th style="width:18%;" scope="col">Wednesday</th>
                <th style="width:18%;" scope="col">Thursday</th>
                <th style="width:18%;" scope="col">Friday</th>
            </tr>
        </thead>
        <tbody>
            @{
                for (int i = 7; i < 17; i++)
                {
                    <tr>
                        <th rowspan="2" scope="row">@i:00</th>
                        <td id="@{@s.Student.StudentID}-1_@i"></td>
                        <td id="@{@s.Student.StudentID}-2_@i"></td>
                        <td id="@{@s.Student.StudentID}-3_@i"></td>
                        <td id="@{@s.Student.StudentID}-4_@i"></td>
                        <td id="@{@s.Student.StudentID}-5_@i"></td>

                    </tr>
                    <tr>
                        <td id="@{@s.Student.StudentID}-1_2_@i"></td>
                        <td id="@{@s.Student.StudentID}-2_2_@i"></td>
                        <td id="@{@s.Student.StudentID}-3_2_@i"></td>
                        <td id="@{@s.Student.StudentID}-4_2_@i"></td>
                        <td id="@{@s.Student.StudentID}-5_2_@i"></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <footer style="page-break-after: always;"></footer>
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
        function AddSchedule(student, schedule, className, tableColor) {
            var startTime = new Date(schedule.startTime);
            var endTime = new Date(schedule.endTime);
            var dayOfWeek = schedule.dayOfWeek;
            var rowspan = (endTime.getHours() - startTime.getHours()) * 2;

            if (endTime.getMinutes() > 0) {
                rowspan++;
            }

            var node = document.createElement("p");
            var className = document.createTextNode(className);

            node.appendChild(className);

            var element = $('#' + student + '-' + dayOfWeek + '_' + startTime.getHours());
            element.attr("rowspan", rowspan);
            element.addClass(tableColor);
            document.getElementById(student + '-' + dayOfWeek + '_' + startTime.getHours()).appendChild(node);

            var elementToDelete = $('#' + student + '-' + dayOfWeek + '_2_' + startTime.getHours());
            elementToDelete.remove();

            var i = 2;
            var count = startTime.getHours();
            while (i < rowspan) {
                count++;
                var elementToDelete = $('#' + student + '-' + dayOfWeek + '_' + count);
                elementToDelete.remove();

                if (i + 2 < rowspan) {
                    var elementToDelete = $('#' + student + '-' + dayOfWeek + '_2_' + count);
                    elementToDelete.remove();
                }

                i++;
            }
        }

        function PrintSchedule() {
            window.print();
        }
    $(document).ready(function () {
        var classSchedules = @Html.Raw(Json.Serialize(Model.StudentSchedules));
        console.log(classSchedules);

        classSchedules.forEach(function (classSchedule) {
            var student = classSchedule.student.studentID;
            var scheduleList = classSchedule.schedules;

            scheduleList.forEach(function (sched){
                var className = sched.class.course.name;
                var schedule = sched.schedule;
                AddSchedule(student, schedule, className, 'table-info');
            });
        });
    });
</script>