@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Manage your students and classes here</h3>
</div>
<br />
<br />

<div class="container home_button_grid" style="margin-bottom: 10px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 rounded" style="background-color:#ccffff; margin-left:70px; margin-right:20px;">
            <a href="" style="text-decoration:none;">
                <div class="pb-3">
                    <h1 class="text-center" style="font-size: 28px;">Applicants</h1>
                    <div class="text-center"><i class="fa fa-file" style="font-size: 64px; color:black;"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-2 rounded" style="background-color: #ccccff; margin-right:20px;">
            <a href="/Students/Index" style="text-decoration:none;">
                <div class="pb-3">
                    <h1 class="text-center" style="font-size: 28px;">Students</h1>
                    <div class="text-center"><i class="fas fa-users" style="font-size: 64px; color:black;"></i></div>
                </div>
            </a>
        </div>
        <div class="col-md-2 rounded" style="background-color: #ccffcc; margin-right:20px;">
            <a href="/Classes/Index" style="text-decoration:none;">
                <div class="pb-3">
                    <h1 class="text-center" style="font-size: 28px;">Classes</h1>
                    <div class="text-center"><i class="fas fa-school" style="font-size: 64px; color:black;"></i></div>
                </div>
            </a>
        </div>

        <div class="col-md-2 rounded" style="background-color:#ffcccc;">
            <a href="/Attendance/ClassList" style="text-decoration:none;">
                <div class="pb-3">
                    <h1 class="text-center" style="font-size: 28px;">Attendance</h1>
                    <div class="text-center"><i class="far fa-clock" style="font-size: 64px; color:black;"></i></div>
                </div>
            </a>
        </div>
    </div>
</div>