@page
@model WebApplication1.Pages.Attendance.EnterAttendanceModel
@{
    ViewData["Title"] = "Enter Attendance";
}

<h1>Enter Attendance</h1>

<h4>Class ID: @Model.classId</h4>

<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="postedFile" class="btn btn-info" />
        <input type="submit" value="Import" class="btn btn-primary" asp-page-handler="Import" />
    </form>
</body>

