.nav-item:hover {
    background-color: #ff6a00;
    cursor: pointer;
}
.card, .btn-primary, .btn-secondary, .btn-warning, .btn-success {
    background-color: #ff6a00;
}

.form-control {
    background-color: #c0c0c0;
    border-radius: 0;
}

.bg-white {
    background-color: #7d8bff;
}

.btn{
    border-radius: 0;
}
