@page
@model WebApplication1.Pages.Grades.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentAssessment.PointsAwarded" class="control-label"></label>
                <input asp-for="StudentAssessment.PointsAwarded" class="form-control" />
                <span asp-validation-for="StudentAssessment.PointsAwarded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentAssessment.Assessment.PointsPossible" class="control-label"></label>
                <input disabled asp-for="StudentAssessment.Assessment.PointsPossible" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="StudentAssessment.Comment" class="control-label"></label>
                <input asp-for="StudentAssessment.Comment" class="form-control" />
                <span asp-validation-for="StudentAssessment.Comment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="StudentAssessment.AssessmentID" />
            <input type="hidden" asp-for="StudentAssessment.StudentID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Details" asp-route-AssesmentId="@Model.StudentAssessment.AssessmentID" asp-route-StudentId="@Model.StudentAssessment.StudentID">Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
